/* colors used
#FFECF0; pink
#EDF2F4; gray
*/

/* Website styles */
body {
font-family: 'Lato', sans-serif;
}

h1{
  font-family: 'Charmonman', cursive;
	color: gray;
  text-align: center;
}

/* Header and footer*/
header, footer {
	background: #FFECF0;
	color: black;
}

header h2 {
	color: black;
}

/* Work Experience */
.work {
	background: #EDF2F4;
}


/* Education */

.education {
	background: #EDF2F4;
}

a {
	color: #000000

}

a:hover {
background-color: lightgray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
