/* colors used
#FFECF0; pink
#EDF2F4; gray
*/

/* Website styles */

html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body {
font-family: 'Lato', sans-serif;
margin: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float:left;

}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
    min-height: 175px;
}

h1{
  font-family: 'Charmonman', cursive;
	color: gray;
  text-align: center;
}

h2{
margin-top: 0;
}

/* Header and footer*/
header{
	background: #FFECF0;
	color: black;
}

.profile-img{
  border-radius: 50%;
}

header h2 {
	color: black;
  margin: 0;
}

footer {
 background: #FFECF0;
 text-align: center;
 color: black;
}

/*links */

a {
	color: #000000

}

a:hover {
background-color: lightgray;
}

/*sections */

/* Work Experience */
.work {
	background: #EDF2F4;
}


/* Education */

.education {
	background: gray;
}

.contact-info a   {
  background: white;
  padding:  20px;
  display: inline-block;
}
